In [2]:

from io import StringIO
import requests
import json
import pandas as pd

# @hidden_cell
# This function accesses a file in your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
def get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a(container, filename):
    """This functions returns a StringIO object containing
    the file content from Bluemix Object Storage."""

    url1 = ''.join(['https://identity.open.softlayer.com', '/v3/auth/tokens'])
    data = {'auth': {'identity': {'methods': ['password'],
            'password': {'user': {'name': 'member_e28904fb9993787d907536191c825c593c36c601','domain': {'id': '0592036926cf47bf87e889ec75d0d38b'},
            'password': 'W-ucS.1Ge_fr.0b('}}}}}
    headers1 = {'Content-Type': 'application/json'}
    resp1 = requests.post(url=url1, data=json.dumps(data), headers=headers1)
    resp1_body = resp1.json()
    for e1 in resp1_body['token']['catalog']:
        if(e1['type']=='object-store'):
            for e2 in e1['endpoints']:
                        if(e2['interface']=='public'and e2['region']=='dallas'):
                            url2 = ''.join([e2['url'],'/', container, '/', filename])
    s_subject_token = resp1.headers['x-subject-token']
    headers2 = {'X-Auth-Token': s_subject_token, 'accept': 'application/json'}
    resp2 = requests.get(url=url2, headers=headers2)
    return StringIO(resp2.text)

df_data_1 = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'cc_log.csv'))
df_data_1.head()

,card_no,txn_dt,txn_tm,bill_amt,card_acpt_cty,mrch_tp_cd,card_type
0,4410123456098153,2017-03-21T00:00:00.000+07:00,10:22:19,5660,TH,4722,visa
1,4410123456018545,2017-03-21T00:00:00.000+07:00,23:30:43,100,US,5818,visa
2,4410123456085556,2017-03-21T00:00:00.000+07:00,07:32:54,1540,TH,6300,visa
3,4410123456047294,2017-03-21T00:00:00.000+07:00,05:16:20,1500,TH,5541,visa
4,4410123456074332,2017-03-21T00:00:00.000+07:00,13:18:56,680,TH,5812,visa

In [3]:

df_data_2 = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'cc_info.csv'))
df_data_2.head()

,card_no,card_type,opn_dt,exp_dt,cr_lmt_amt,prev_cr_lmt_amt,main_zip_cd,cr_line_amt,incm_amt,brth_estb_yr
0,4410123456000001,visa,1997-10-14,1017,50000,0,73120.0,50000,21000,1953.0
1,4410123456000002,master,2010-06-29,620,146000,0,43000.0,146000,72000,1965.0
2,4410123456000003,visa,2014-06-18,619,22000,0,23000.0,22000,20000,1978.0
3,4410123456000004,visa,2014-11-03,1119,1000000,0,10200.0,2141000,1800000,1955.0
4,4410123456000005,visa,2014-04-10,419,80000,0,57160.0,80000,32000,1969.0

In [4]:
df_data_2.count()

card_no            99594
card_type          99594
opn_dt             99594
exp_dt             99594
cr_lmt_amt         99594
prev_cr_lmt_amt    99594
main_zip_cd        99584
cr_line_amt        99594
incm_amt           99594
brth_estb_yr       99584
dtype: int64

In [5]:
df_data_1['txn_dt']=df_data_1['txn_dt'].str.slice(0, 10)

df_data_1.head()

,card_no,txn_dt,txn_tm,bill_amt,card_acpt_cty,mrch_tp_cd,card_type
0,4410123456098153,2017-03-21,10:22:19,5660,TH,4722,visa
1,4410123456018545,2017-03-21,23:30:43,100,US,5818,visa
2,4410123456085556,2017-03-21,07:32:54,1540,TH,6300,visa
3,4410123456047294,2017-03-21,05:16:20,1500,TH,5541,visa
4,4410123456074332,2017-03-21,13:18:56,680,TH,5812,visa

In [6]:
from sklearn.preprocessing import Normalizer
scaler = Normalizer().fit(df_data_1['bill_amt'])
normalized_X = scaler.transform(df_data_1['bill_amt'])
print normalized_X

[[  6.72874289e-05   1.18882383e-06   1.83078870e-05 ...,   9.51059066e-06
    2.02100051e-05   1.97344756e-05]]

/gpfs/fs01/user/sc9e-85ff83ddf64048-ccef6e89e67a/.local/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/gpfs/fs01/user/sc9e-85ff83ddf64048-ccef6e89e67a/.local/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/gpfs/fs01/user/sc9e-85ff83ddf64048-ccef6e89e67a/.local/lib/python2.7/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, _DataConversionWarning)

In [7]:
df_data_1.dtypes

card_no           int64
txn_dt           object
txn_tm           object
bill_amt          int64
card_acpt_cty    object
mrch_tp_cd        int64
card_type        object
dtype: object

In [8]:
import numpy as np
df_data_1['txn_dt'] = pd.to_datetime(df_data_1['txn_dt'])
df_data_1= df_data_1.sort_values(['txn_dt', 'card_no'], ascending=[True, True])
#print df_data_1.sort_values(by='txn_dt')
#df_data_1.head()
df_data_sub = df_data_1[ df_data_1["txn_dt"] < '2016-12-31' ]
df_data_sub= df_data_sub.sort_values(['txn_dt'], ascending=[True])
new = df_data_sub[['card_no','txn_dt', 'bill_amt']].copy()
#print new.head()
print new.dtypes
new=new.set_index('txn_dt')
print new.head()

card_no              int64
txn_dt      datetime64[ns]
bill_amt             int64
dtype: object
                     card_no  bill_amt
txn_dt
2016-01-01  4410123456000016      6460
2016-01-01  4410123456066301        40
2016-01-01  4410123456066301       260
2016-01-01  4410123456066301        40
2016-01-01  4410123456066301        40

In [16]:
from statsmodels.tsa.arima_model import ARIMA
model = ARIMA(new.values.astype(float), order=(5,1,0))
model_fit = model.fit(disp=0)
print(model_fit.summary())

TypeError: cannot concatenate 'str' and 'list' objects

In [10]:

df_data_3 = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'output.csv'))
df_data_3.head()

,card_no,card_type,cr_lmt_amt,prev_cr_lmt_amt,main_zip_cd,cr_line_amt,incm_amt,Age,Age of card,Categories_Automobiles and Vehicles_bill_amt_Mean_Sum_Sum,Categories_Clothing Stores_bill_amt_Mean_Sum_Sum,Categories_Service Providers_bill_amt_Mean_Sum_Sum,Categories_Transportation_bill_amt_Mean_Sum_Sum,Categories_Utilities_bill_amt_Mean_Sum_Sum,Categories_Automobiles and Vehicles_frequency_Sum_Sum,Categories_Clothing Stores_frequency_Sum_Sum,Categories_Service Providers_frequency_Sum_Sum,Categories_Transportation_frequency_Sum_Sum,Categories_Utilities_frequency_Sum_Sum,Record_Count
0,4410123456000001,visa,50000,0,73120.0,50000,21000,63.0,19,840.000000,1280.000000,23260.0,0.0,4000.0,1,2,3,0,1,5
1,4410123456000003,visa,22000,0,23000.0,22000,20000,38.0,3,8230.000000,0.000000,0.0,0.0,0.0,19,0,0,0,0,9
2,4410123456000004,visa,1000000,0,10200.0,2141000,1800000,61.0,2,2700.000000,35316.666667,0.0,0.0,1010.0,3,5,0,0,2,3
3,4410123456000005,visa,80000,0,57160.0,80000,32000,47.0,3,7800.666667,0.000000,0.0,0.0,0.0,26,0,0,0,0,10
4,4410123456000006,visa,100000,0,10150.0,100000,66000,25.0,1,0.000000,800.000000,0.0,13570.0,3780.0,0,1,0,6,3,7

In [11]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics.regression import mean_absolute_error, mean_squared_error
from sklearn.lda import LDA
from sklearn.svm import SVC

/gpfs/fs01/user/sc9e-85ff83ddf64048-ccef6e89e67a/.local/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/gpfs/fs01/user/sc9e-85ff83ddf64048-ccef6e89e67a/.local/lib/python2.7/site-packages/sklearn/lda.py:6: DeprecationWarning: lda.LDA has been moved to discriminant_analysis.LinearDiscriminantAnalysis in 0.17 and will be removed in 0.19
  "in 0.17 and will be removed in 0.19", DeprecationWarning)

In [12]:

df_data_4 = pd.read_csv(get_object_storage_file_with_credentials_b3d150584aa142a1975f62c1c8b1699a('201710kbankibm', 'answer.csv'))
df_data_4.head()

,Automobiles and Vehicles-freq,Clothing Stores-freq,Service Providers-freq,Transportation-freq,Utilities-freq,Automobiles and Vehicles-sum,Clothing Stores-sum,Service Providers-sum,Transportation-sum,Utilities-sum
0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
1,0,0,1,0,0,0.0,0.0,1580.0,0.0,0.0
2,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,1,0,0.0,0.0,0.0,780.0,0.0

In [13]:

x, y= df_data_3.iloc[:, 1:].copy(), df_data_4.iloc[:,1:10].copy()
#X_tr, X_valid, y_tr, y_valid = cross_validation.train_test_split(X_sc, y, test_size=0.30, random_state=0)
x_train, x_test, y_train, y_test = train_test_split(df_data_3.iloc[:, 1:], df_data_4.iloc[:, 11:], test_size=0.3)
svc = SVC(kernel='linear')
svc.fit(x_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [92520, 99594]